<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.upennapo.app"
    android:versionCode="3"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Permissions -->
    <!-- Used to prevent the app from crashing if when there's no network reachability -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to download directory and status data over the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used optionally to call or text directory contacts -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Apo_dz_actionbar" >
        <activity
            android:name="org.upennapo.app.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>          
        </activity>
        
        <activity
            android:name="org.upennapo.app.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="org.upennapo.app.DirectoryDetailsActivity"
            android:parentActivityName="org.upennapo.app.MainActivity" >
        </activity>
    </application>

</manifest>
